<div class="container middle-dot home-bottom-margin">
  <div class="left-side">
    
    <div class="inner-header">
    <div class="menu"><img src="../../../assets/images/menu.svg"></div>
      <div class="logo"><img src="../../../assets/images/logo.svg"></div>
      <div class="title"><h1>Bihar Common HIMS <br><span>District Hospital Framework</span></h1></div>
    </div>

    <div class="login"><a class="active">Login</a></div><div class="login"><a (click)="switchRegisterTab()">Register</a></div>

<input type="text" class="inputbx" placeholder="Enter unique ID or phone number">
<input type="password" class="inputbx" placeholder="&#9733; &#9733; &#9733; &#9733; &#9733; &#9733; &#9733; &#9733; &#9733;">

<div class="forgotlnk">Forgot Unique ID? <a><em>Click Here</em></a> to generate</div>
<div class="department">
<div class="row">
<div class="col"><input name="org" type="radio">State Admin</div>
<div class="col"><input name="org" type="radio">Doctor</div>

<div class="col laptop"><input name="org" type="radio">FHCW</div>
</div>
<div class="row">
<div class="col"><input name="org" type="radio">Nurse</div>
<div class="col"><input name="org" type="radio">Hospital</div>

<div class="col laptop"><input name="org" type="radio">Laboratorist</div>
</div>
<div class="row desktop">
<div class="col"><input name="org" type="radio">FHCW</div>
<div class="col"><input name="org" type="radio">Laboratorist</div>
</div>
<div class="row nobrdr">
<div class="col"><input name="org" type="radio">Pharmacist</div>

</div>
</div>

<div class="sign-btn"><a>Sign in</a></div>
</div>

   

  <div class="right-side">
    <div class="rightcurve">
      
     <div class="phone"> <img src="../../../assets/images/phone.png"> </div>
    
    <p>Use all features of the HMIS on your mobile now! <br>
      Download the app from below links</p>

      <img src="../../../assets/images/android.png" class="app-ico"> <img src="../../../assets/images/apple.png" class="app-ico"> 
    </div>
  </div>
  
</div>