<div class="container">
  <div class="left-side reduce">
    
    <div class="inner-header">
    <div class="menu"><img src="../../../assets/images/menu.svg"></div>
      <div class="logo"><img src="../../../assets/images/logo.svg"></div>
      <div class="title"><h1>Bihar Common HIMS <br><span>District Hospital Framework</span></h1></div>
    </div>

    <div class="login margtp100"><a (click)="switchLoginTab()">Login</a></div><div class="login"><a class="active">Register</a></div>




<div class="department">
<div class="row row95">
<div class="col"><input name="org" type="radio">State Admin</div>
<div class="col"><input name="org" type="radio" checked>Doctor</div>

<div class="col laptop"><input name="org" type="radio">FHCW</div>
</div>
<div class="row row95">
<div class="col"><input name="org" type="radio">Nurse</div>
<div class="col"><input name="org" type="radio">Hospital</div>

<div class="col laptop"><input name="org" type="radio">Laboratorist</div>
</div>
<div class="row desktop row95">
<div class="col"><input name="org" type="radio">FHCW</div>
<div class="col"><input name="org" type="radio">Laboratorist</div>
</div>
<div class="row nobrdr row95">
<div class="col"><input name="org" type="radio">Pharmacist</div>

</div>
</div>

<div class="sign-btn wid100"><a (click)="proceed()">Proceed</a></div>
</div>

   

  <div class="right-side increase rightct scroll-height">
    <div class="right-scroll">
<div class="content-img"><img src="../../../assets/images/doctor-info.png">

<div class="nav">
      <ul> 
      <li class="active">Register as a doctor</li>
      <li>Patient related</li>
      <li>How to use system</li>
      <li>Hospital related</li>
      </ul>
</div>

</div>

<p><u>Registration guidelines & regulations: for <strong>Doctors:</strong></u></p>

        <ul>
        <li>An Indian citizen, who has passed the qualifying examination either from India or an equivalent examination from abroad and is desirous of joining the State Govt Initiative.</li>

        <li>The request for volunteering shall be made by the candidate in the proforma prescribed by the Council and shall be accompanied by the original certificate/mark-sheet (alongwith Photostat copy) of the qualifying examination. The original certificate shall be returned to the candidate after verifying the same with the photostat copy which shall be retained by the Council. Request shall also be accompanied by a Demand Draft for the specified sum in favour of Secretary, Medical Council of India, New Delhi. The fee shall be fixed by the Council.</li>

        <li>The Council shall be free to investigate on its own into the correctness of information furnished by the candidate in his/her application and/or call for any further information in  this regard from the candidate and in the event of any information furnished by the candidate being found to be incorrect or false during such investigation or at any subsequent stage, the Council may refuse to issue the eligibility certificate or if already issued may cancel the same and he/she shall stand debarred from appearing in the screening test prescribed in sub-section (4A) of section 13 of the Indian Medical Council Act, 1956 without any notice. The decision of the Council in this regard shall be final.</li>

        <li>The candidate shall also produce a certificate of his/her date of birth if it is not
        </li>
        </ul>
</div>

  </div>
  
</div>
