<div class="container middle-dot home-bottom-margin">

  <div class="left-side">
    <div class="menu margtp40"><img src="../../../../assets/images/menu.svg"></div>

    <div class="left-center">
<div class="logo logotp"><img src="../../../../assets/images/logo.svg"></div>
<div class="title"><h1>Bihar Common HIMS <br><span>District Hospital Framework</span></h1></div>

<p>A white-labelled Lightweight HMIS solution <br>
that can be customised to every category  <br>
of healthcare management.</p>

<div class="start-btn"><a (click)="start()">Start Here</a></div>
</div>

  </div>

  <div class="right-side">
    <div class="rightcurve">
      
     <div class="phone"> <img src="../../../../assets/images/phone.png"> </div>
    
    <p>Use all features of the HMIS on your mobile now! <br>
      Download the app from below links</p>

      <img src="../../../../assets/images/android.png" class="app-ico"> <img src="../../../../assets/images/apple.png" class="app-ico"> 
    </div>
  </div>
  
</div>
