/* You can add global styles to this file, and also import other style files */
body,
html {
  padding: 0;
  margin: 0;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  color: #211748;
}

*,
*:focus,
*:active,
a:active,
a:focus,
input:focus,
input:active,
button:focus,
button:active{
    -moz-outline-style: none!important;;
    outline-style: none!important;;
	outline:none!important;;
	outline: 0!important;;
}


input[type="text"],
input[type="password"],
input[type="button"],
textarea,
select {
  outline: none;
  border: 0;
}

input[type=text ], p {
  font-family: 'Roboto', sans-serif;
}

input[type="button"]::-moz-focus-inner {
  border: 0;
}

h1, h2, h3, h4{padding: 0; margin: 0;}

.container{width: 100%;}
.left-side{width: 44%; display: inline-block; padding: 2% 3% 0 3%; vertical-align: top;}
.right-side{width: 49.4%; display: inline-block;}
.left-center{width:80%; margin: 0px auto;}
.left-centera{width:70%; margin: 0px auto;}
.middle-dot{background-image: url(./assets/images/dot-bg.png); background-position: center bottom; background-repeat: no-repeat;}
 
.rightcurve{padding:5% 3% 2% 3%; background: #F4F3FF url(./assets/images/back.png); background-size: contain; background-repeat: no-repeat; background-position: center top; border-bottom-left-radius: 80px; text-align: center;}

.home-bottom-margin{margin-bottom: 3%;}

.start-btn{ padding-top: 20px;}
.start-btn a{background-color: #707070;padding: 15px 40px; border-radius: 30px; display:inline-block; font-size: 25px; font-weight: 500; color: #fff; text-decoration: none;}
.start-btn a:hover{background-color: #6C63FF;}

.sign-btn{ padding-top: 20px; text-align: center;}
.sign-btn a{background-color: #707070; width: 320px; text-align: center; padding: 20px 0px; border-radius: 8px; display:inline-block; font-size: 25px; font-weight: 500; color: #fff; text-decoration: none;}
.sign-btn a:hover{background-color: #6C63FF;}

.app-ico{margin:0 10px;}

.inner-header{margin-bottom: 50px;}
.inner-header .menu{display: inline-block;}
.inner-header .logo{display: inline-block;}
.inner-header .title{display: inline-block; margin-bottom: 0;}

.inner-header .title, .inner-header .logo{vertical-align: middle;}

.department input[type='radio'] {
  -webkit-appearance:none;
  width:30px;
  height:30px;
  border:1px solid darkgray;
  border-radius:50%;
  outline:none;
  opacity: 1;
  margin-right: 10px;
    vertical-align: middle;
    margin-top: -3px;
}
.department input[type='radio']:before {
  content:'';
  display:block;
  width:22px;
  height:22px;
  margin: 3px auto;
  border-radius:50%;
}
.department input[type='radio']:checked:before {
  background:#1492E6;
}

.row{ border-bottom: solid #dcdcdc 1px; display: block; width: 86%; padding: 15px 0;}

.nobrdr{border:none;}

.reduce{width: 39%!important;}
.increase{width: 54.7%!important;}
.rightct{background-color: #E4E4E4;}
.content-img{text-align: center; padding: 20px 0 0px 0;}

.margtp100{margin:50px 7% 80px 0!important;}
.padtp20px{padding: 20px 20px 0 20px;}
.margtp40{margin-top: 14px;}

.scroll-height{height: 100vh;display: inline-flex!important;}
.scroll-heighta{height: 100vh;display:block;}

.right-scroll ul{padding:10px 0px 0px 20px!important; }
.right-scroll li{font-size: 24px; margin-bottom: 20px; color: #666; font-weight: 300; line-height: 1.4;}
.right-scroll li:last-child{margin-bottom: 0;}
.right-scroll {
	max-height: 100vh;
	overflow-y: auto;
  overflow-x: hidden;
  padding:0 100px 0 60px;
}

* {
	scrollbar-width: thin;
	scrollbar-color: #dcdcdc #f1f1f1
}

::-webkit-scrollbar {
	width: 8px
}

::-webkit-scrollbar-track {
	background: #f1f1f1
}

::-webkit-scrollbar-thumb {
	background-color: #dcdcdc;
	border: 1px solid #f1f1f1
}

::-webkit-scrollbar-thumb:hover {
	background: #666
}

@media (max-width: 767px) {
   
   
  .mobile{display: block;}
  .laptop{display:none!important;}
  .left-side{width: 92%; display: block; padding: 4%; }
.right-side{width: 100%; display: block;}
.left-center{width:100%; margin: 0px auto;}
.middle-dot{background-image: none;}
 
.rightcurve{padding:5% 3% 2% 3%; background: #F4F3FF url(./assets/images/back.png); background-size: contain; background-repeat: no-repeat; background-position: center top; border-bottom-left-radius: 80px; text-align: center;}

  .logo img{ width:80px;}
  .logotp{margin-top: 30px; margin-bottom: 20px;}
  .title{ margin-bottom: 20px;}
  .left-side h1{font-size: 30px; color: #666; font-weight: 500; line-height: 1;}
  .left-side h1 span{font-size: 23px; font-weight: 300;}
  .left-side p{font-size: 15px; color: #666;}
  .phone img{ width: 120px;}
  .right-side p{ font-size: 15px; font-weight: 300; color: #666; margin-top:50px;}
  .rightcurve{background-position: center 50px;}

  .middle-dot{background-image: none;}

.left-side .inputbx{width: 80%; padding: 15px 30px; color: #707070; font-weight: 300; font-size: 18px; border:solid 1px #dcdcdc; border-radius: 6px; margin-bottom: 15px; display: block;}
.forgotlnk{font-size: 18px; font-weight: 300; text-align: center; margin-bottom: 10px;}
.forgotlnk a{color: #6C63FF; text-decoration: none;}

.inner-header{margin-bottom: 30px;}
    .inner-header .menu{margin-right: 10px;}
   .inner-header .logo img{ width:40px; margin-right: 10px;}
   .inner-header .title h1{font-size: 22px!important; margin-top: 5px;}
   .inner-header .title h1 span{font-size: 17px!important;}

   .login{width: 40%; margin-right: 7%;position: relative;display: inline-block; margin-bottom: 35px; }
   .login a{ text-decoration: none; font-size: 20px; font-weight: bold; color: #6C63FF;  border-radius: 6px; width: 100%; display: block;  padding: 15px 0; text-align: center;}
   .login a:hover, .login a.active{background-color: #E5E9FF;}
   .login a:hover:after, .login a.active:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 40%;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 15px #E5E9FF;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}
.row{padding: 10px 0;}
.col{width: 49%; display: inline-block;}

.sign-btn {  padding-top: 10px;}
.wid100 a{width: 100%!important;}

.reduce{width: 92%!important;}
.increase{width: 100%!important;}

.margtp100{margin:20px 7% 30px 0!important;}
.content-img img{width: 100%;}
.right-scroll p{font-size: 15px}
.right-scroll{padding: 0 20px;}
.right-scroll ul{padding-top: 0!important;}
.right-scroll li{font-size: 15px;}

.scroll-heighta, .scroll-height{height: initial!important; padding-bottom: 20px;}

.logina{width: 30%; margin-right: 3.5%;position: relative;display: inline-block; margin-bottom: 30px; }
.logina:last-child{margin-right: 0;}
.logina a{ text-decoration: none; font-size: 15px; font-weight: bold; color: #fff; background-color: #707070;  border-radius: 6px; width: 100%; display: block;  padding: 10px 0; text-align: center;}
   .logina a:hover, .logina a.active{background-color: #6C63FF;}
   .logina a:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: 60%;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 10px #707070;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}
   .logina a:hover:after, .logina a.active:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: 60%;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 10px #6C63FF;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}

.left-centera{width: 85%; margin: 0 auto;}
.marg80{margin-bottom: 20px!important;}

.right-side .inputbx{width: 94%; padding: 12px 3%; color: #666; font-weight: 300; font-size: 20px; border:solid 1px #dcdcdc; 
  border-radius: 4px; margin-bottom: 15px; display: block; -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);}

  .right-side .selctbx{width: 100%; padding: 12px 3%; color: #b7b7b7; font-weight: 300; font-size: 20px; border:solid 1px #dcdcdc; 
    border-radius: 4px; margin-bottom: 15px; display: block; -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1); font-family: 'Roboto', sans-serif;}


}

@media all and (max-width: 1279px) and (min-width: 768px) {
  .desktop{display: block;}
  .mobile{display: none;}
  .laptop{display:none!important;}
  .logo img{ width:80px;}
  .logotp{margin-top: 50px; margin-bottom: 20px;}
  .title{ margin-bottom: 20px;}
  .left-side h1{font-size: 30px; color: #666; font-weight: 500; line-height: 1;}
  .left-side h1 span{font-size: 23px; font-weight: 300;}
  .left-side p{font-size: 15px; color: #666;}
  .phone img{ width: 170px;}
  .right-side p{ font-size: 15px; font-weight: 300; color: #666; margin-top:50px;}
  .rightcurve{background-position: center 50px;}
  .left-center{width:90%; margin: 0px auto;}

  .middle-dot{background-image: none;}

  .left-side .inputbx{width: 80%; padding: 15px 30px; color: #707070; font-weight: 300; font-size: 18px; border:solid 1px #dcdcdc; border-radius: 6px; margin-bottom: 15px; display: block;}
.forgotlnk{font-size: 16px; font-weight: 300; text-align: center; margin-bottom: 10px;}
.forgotlnk a{color: #6C63FF; text-decoration: none;}

.inner-header{margin-bottom: 20px;}
    .inner-header .menu{margin-right: 10px;}
   .inner-header .logo img{ width:40px; margin-right: 10px;}
   .inner-header .title h1{font-size: 20px!important; margin-top: 5px;}
   .inner-header .title h1 span{font-size: 15px!important;}

   .login{width: 40%; margin-right: 7%;position: relative;display: inline-block; margin-bottom: 30px; }
   .login a{ text-decoration: none; font-size: 20px; font-weight: bold; color: #6C63FF;  border-radius: 6px; width: 100%; display: block;  padding: 15px 0; text-align: center;}
   .login a:hover, .login a.active{background-color: #E5E9FF;}
   .login a:hover:after, .login a.active:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 40%;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 20px #E5E9FF;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
}
.row{padding: 10px 0;}
.row95{width: 95%;}
.col{width: 49%; display: inline-block;font-size: 15px;}

.sign-btn {  padding-top: 10px;}
.home-bottom-margin {  margin-bottom: 2%;}
.wid100 a{width: 100%!important;}

.reduce {
  width: 40%!important;
}
.increase {
  width: 53.4%!important;
}
.right-scroll {padding: 0 30px;}
.right-scroll p{font-size: 20px;}
.right-scroll ul{padding:10px 0px 0px 20px!important; }
.right-scroll li{font-size: 16px; margin-bottom: 20px; color: #666; font-weight: 300; line-height: 1.2;}
.content-img img{width: 100%;}

.logina{width: 30%; margin-right: 3.5%;position: relative;display: inline-block; margin-bottom: 30px; }
.logina:last-child{margin-right: 0;}
.logina a{ text-decoration: none; font-size: 15px; font-weight: bold; color: #fff; background-color: #707070;  border-radius: 6px; width: 100%; display: block;  padding: 10px 0; text-align: center;}
   .logina a:hover, .logina a.active{background-color: #6C63FF;}
   .logina a:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: 60%;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 15px #707070;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}
   .logina a:hover:after, .logina a.active:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: 60%;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 15px #6C63FF;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}

.marg80{margin-bottom: 50px!important;}

.right-side .inputbx{width: 94%; padding: 12px 3%; color: #666; font-weight: 300; font-size: 20px; border:solid 1px #dcdcdc; 
  border-radius: 4px; margin-bottom: 15px; display: block; -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);}

  .right-side .selctbx{width: 100%; padding: 12px 3%; color: #b7b7b7; font-weight: 300; font-size: 20px; border:solid 1px #dcdcdc; 
    border-radius: 4px; margin-bottom: 15px; display: block; -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1); font-family: 'Roboto', sans-serif;}



  }

  @media (min-width: 1280px) {   
    .mobile{display: none;}
    .laptop{display:block;}
    .desktop{display: none;}
    .logo img{ width:100px;}
    .logotp{margin-top: 80px; margin-bottom: 30px;}
    .title{ margin-bottom: 20px;}
    .left-side h1{font-size: 45px; color: #666; font-weight: 500; line-height: 1;}
    .left-side h1 span{font-size: 35px; font-weight: 300;}
    .left-side p{font-size: 20px; color: #666; font-weight: 300; line-height: 1.4;}
    .phone img{ width: 170px;}
    .right-side p{ font-size: 25px; font-weight: 300; color: #666; margin-top:50px;}
    .rightcurve{background-position: center -20px;}

.left-side .inputbx{width: 80%; padding: 15px 30px; color: #707070; font-weight: 300; font-size: 18px; border:solid 1px #dcdcdc; border-radius: 6px; margin-bottom: 15px; display: block;}
.forgotlnk{font-size: 18px; font-weight: 300; text-align: center; margin-bottom: 10px;}
.forgotlnk a{color: #6C63FF; text-decoration: none;}

.inner-header{margin-bottom: 20px;}
    .inner-header .menu{margin-right: 40px;}
   .inner-header .logo img{ width:50px; margin-right: 20px;}
   .inner-header .title h1{font-size: 30px!important; margin-top: 5px;}
   .inner-header .title h1 span{font-size: 20px!important;}

   .login{width: 40%; margin-right: 7%;position: relative;display: inline-block; margin-bottom: 30px; }
   .login a{ text-decoration: none; font-size: 25px; font-weight: bold; color: #6C63FF;  border-radius: 6px; width: 100%; display: block;  padding: 15px 0; text-align: center;}
   .login a:hover, .login a.active{background-color: #E5E9FF;}
   .login a:hover:after, .login a.active:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 40%;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 20px #E5E9FF;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
}
.row{padding: 10px 0;}
.row95{width: 95%;}
.col{width: 32%; display: inline-block;    font-size: 15px;}

.sign-btn {  padding-top: 10px;}
.home-bottom-margin {  margin-bottom: 2%;}

.increase {
  width: 54.6%!important;
}

.logina{width: 30%; margin-right: 4.3%;position: relative;display: inline-block; margin-bottom: 30px; }
.logina:last-child{margin-right: 0;}
.logina a{ text-decoration: none; font-size: 25px; font-weight: bold; color: #fff; background-color: #707070;  border-radius: 6px; width: 100%; display: block;  padding: 15px 0; text-align: center;}
   .logina a:hover, .logina a.active{background-color: #6C63FF;}
   .logina a:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: 60%;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 15px #707070;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}
   .logina a:hover:after, .logina a.active:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: 60%;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 15px #6C63FF;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}

.marg80{margin-bottom: 50px!important;}

.right-side .inputbx{width: 94%; padding: 12px 3%; color: #666; font-weight: 300; font-size: 20px; border:solid 1px #dcdcdc; 
  border-radius: 4px; margin-bottom: 15px; display: block; -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);}

  .right-side .selctbx{width: 100%; padding: 12px 3%; color: #b7b7b7; font-weight: 300; font-size: 20px; border:solid 1px #dcdcdc; 
    border-radius: 4px; margin-bottom: 15px; display: block; -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1); font-family: 'Roboto', sans-serif;}

    ::-webkit-input-placeholder { /* Edge */
      color: #b7b7b7;
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #b7b7b7;
    }
    
    ::placeholder {
      color: #b7b7b7;
      font-weight: 300;
    }
    .right-scroll p{font-size: 25px!important;}
}

  @media (min-width: 1530px) {
    .laptop{display:none!important;}
    .desktop{display: block;}
   .logo img{ width:130px;}
   .logotp{margin-top: 140px; margin-bottom: 50px;}
   .title{ margin-bottom: 40px;}
   .left-side h1{font-size: 60px; color: #666; font-weight: 500; line-height: 1;}
   .left-side h1 span{font-size: 46px; font-weight: 300;}
   .left-side p{font-size: 25px; color: #666;}
   .phone img{ width: 260px;}
   .right-side p{ font-size: 35px; font-weight: 300; color: #666; margin-top: 70px;}
   .right-side{width: 49.7%; display: inline-block;}

   .inner-header{margin-bottom: 50px;}
   .inner-header .menu{margin-right: 60px;}
   .inner-header .logo img{ width:80px; margin-right: 30px;}
   .inner-header .title h1{font-size: 38px!important; margin-top: 15px;}
   .inner-header .title h1 span{font-size: 30px!important;}

   .login{width: 40%; margin-right: 7%;position: relative;display: inline-block; margin-bottom: 60px; }
   .login a{ text-decoration: none; font-size: 25px; font-weight: bold; color: #6C63FF;  border-radius: 6px; width: 100%; display: block;  padding: 20px 0; text-align: center;}
   .login a:hover, .login a.active{background-color: #E5E9FF;}
   .login a:hover:after, .login a.active:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 40%;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 20px #E5E9FF;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
}
.row{padding: 15px 0;}
.left-side .inputbx{width: 80%; padding: 20px 30px; color: #707070; font-weight: 300; font-size: 18px; border:solid 1px #dcdcdc; border-radius: 6px; margin-bottom: 20px; display: block;}
.col{width: 49%; display: inline-block; font-size: 22px;}
.forgotlnk{margin-bottom: 20px;}
.sign-btn {  padding-top: 20px;}
.marg80{margin-bottom: 80px!important;}
.right-side .inputbx, .right-side .selctbx{margin-bottom: 25px; padding-top: 20px; padding-bottom: 20px;}
.increase {  width: 54.7%!important;}
.logina{width: 30%; margin-right: 4.4%; }
.margtp40{margin-top: 32px;}
  }

 .nav{right:20px; top:10%; width: 300px; position: absolute; text-align: right; }
 .nav li{ font-size: 10px; list-style-type: none; margin-bottom: 12px;}
 .nav li.active{color: #6C63FF;}
 .nav li::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #707070;
  width: 16px;
  margin-left: 5px;
}

.nav li.active::after{border: 1px solid #6C63FF;width: 30px;}

@media (max-width: 1279px) { 
.nav{display: none;}
}
  