<div class="container">
  <div class="left-side reduce">
    
    <div class="inner-header">
    <div class="menu"><img src="../../../assets/images/menu.svg"></div>
      <div class="logo"><img src="../../../assets/images/logo.svg"></div>
      <div class="title"><h1>Bihar Common HIMS <br><span>District Hospital Framework</span></h1></div>
    </div>

    <div class="login margtp100"><a (click)="switchLoginTab()">Login</a></div><div class="login"><a class="active">Register</a></div>




<div class="department">
<div class="row row95">
<div class="col"><input name="org" type="radio">State Admin</div>
<div class="col"><input name="org" type="radio">Doctor</div>

<div class="col laptop"><input name="org" type="radio">FHCW</div>
</div>
<div class="row row95">
<div class="col"><input name="org" type="radio">Nurse</div>
<div class="col"><input name="org" type="radio">Hospital</div>

<div class="col laptop"><input name="org" type="radio">Laboratorist</div>
</div>
<div class="row desktop row95">
<div class="col"><input name="org" type="radio">FHCW</div>
<div class="col"><input name="org" type="radio">Laboratorist</div>
</div>
<div class="row nobrdr row95">
<div class="col"><input name="org" type="radio">Pharmacist</div>

</div>
</div>

<div class="sign-btn wid100"><a>Proceed</a></div>
</div>

   

  <div class="right-side increase rightct">
    <div class="scroll-heighta">
    <div class="padtp20px">
    <div class="logina marg80"><a>Allopathy</a></div>
    <div class="logina"><a>Ayush</a></div>
    <div class="logina"><a>Homeopathy</a></div>
  </div>
  <div class="left-centera">

    <input type="text" class="inputbx" placeholder="Enter Doctor Name">
    <input type="text" class="inputbx" placeholder="Enter Registration Number">
    <select class="selctbx">
      <option value=" ">Select year of admission</option>
      <option value="2020">2020</option>
      <option value="2019">2019</option>
      <option value="2018">2018</option>
      <option value="2017">2017</option>
      <option value="2016">2016</option>
      <option value="2015">2015</option>
      <option value="2014">2014</option>
    </select>
    <select class="selctbx">
      <option value=" ">State Medical Council</option>
      <option value="APMC">Andhra Pradesh Medical Council</option>
      <option value="ARPMC">Arunachal Pradesh Medical Council</option>
      <option value="AMV">Assam Medical Council</option>
      <option value="BMC">Bhopal Medical Council</option>
    </select>
    <input type="text" class="inputbx" placeholder="Enter phone number">
    <input type="text" class="inputbx" placeholder="Enter email ID">
    
    </div>
    <div class="sign-btn"><a>Request</a></div>
  </div>
</div>
</div>